<div class="grid-12">
	<div class="col-12 text-center">
		FPDF
	</div>
	<div class="col-12 text-center">
		<a href="?page=landing" class="styled-links">Home</a>
	</div>
	<div class="col-12">
		<form id="entryForm" method="post">
			<div class="grid-12">

				<div class="col-6">
					Customer Name
				</div>
				<div class="col-6">
					<input id="customerName" type="text"/>
				</div>

				<div class="col-6">
					Choose a Weed:
				</div>
				<div class="col-6">
					<select id="productList">
						<option value="">--Please choose an option--</option>
						<!-- NIJAVASCRIPT -->
					</select>
				</div>

				<div class="col-6">
					Quantity
				</div>
				<div class="col-6">
					<input id="quantity" type="text"/>
				</div>

				<div class="col-6">
					Unit Price
				</div>
				<div class="col-6">
					<input id="unitPrice" type="text"/>
				</div>

				<div class="col-6">
					Total Price
				</div>
				<div class="col-6">
					<span id="totalPrice">####</span>
				</div>

				<div class="col-6"></div>
				<div class="col-6">
					<button type="submit">Save To Database</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="assets/js/getProducts.js"></script>
<script src="assets/js/save.js"></script>