<div class="grid-12">
	<div class="col-12 text-center">
		FPDF
	</div>
	<div class="col-12 text-center">
		<a href="?page=landing" class="styled-links">Home</a>
	</div>
	<div class="col-12">
		<!-- TODO: Determine on sendEntry.php 
			wether data is from fetch or from form
		-->
		<form data-mainForm action="?page=saveEntry" method="post">
			<div class="grid-12">

				<div class="col-6">
					Customer Name
				</div>
				<div class="col-6">
					<input data-customerName type="text"/>
				</div>

				<div class="col-6">
					Choose a Product
				</div>
				<div class="col-6">
					<select data-productList >
						<option value="">Select Product</option>
					</select>
				</div>

				<div class="col-6">
					Quantity
				</div>
				<div class="col-6">
					<input data-quantity type="text" />
				</div>

				<div class="col-6">
					Unit Price
				</div>
				<div class="col-6">
					<input data-unitPrice type="text" />
				</div>

				<div class="col-6">
					Total Price
				</div>
				<div class="col-6">
					<span data-totalPrice>####</span>
				</div>
			</div>

			<div class="grid-12">
				<div class="col-6">
					(Form Submission)
				</div>
				<div class="col-6">
					<button type="submit">Save And Print</button>
				</div>
			</div>

		</form>

		<div class="grid-12">
			<div class="col-6">
				(Fetch Submission)
			</div>
			<div class="col-6">
				<button data-btnFetchSubmit type="button">Save</button>
			</div>
		</div>

	</div>
</div>
<script src="assets/js/getProducts.js"></script>
<script src="assets/js/sendEntry.js"></script>
<script src="assets/js/entry.js"></script>