<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input Form For FPDF</title>
    <link rel="stylesheet" href="assets/css/main.css">
<body>
    <div>
        <hr/>
            FPDF
        <hr/>
        <br/>

        <form action="?page=createPDF" method="post">
            Input 1 <input name="input1" type="text" />
            <br/><br/>
            Input 2 <input name="input2" type="text" />
            <br/><br/>
            <button type="submit">Generate PDF</button>
        </form>

        <br/>
        <hr/>
        <br/>

        <a href="http://www.fpdf.org/">FPDF</a><br/>
        <a href="http://www.fpdf.org/en/doc/index.php">Manual</a><br/>
        <a href="http://www.fpdf.org/en/tutorial/tuto1.htm">Minimal Example</a>
    </div>

    <script src="assets/js/main.js"></script>
</body>
</html>