*{
    outline: 1px solid red;
}

html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #171717;
    color: #EDEDED;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/* Grid System Start */
.grid-12{
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 1vh 0.5vw;
}

.col-12{
    grid-column: span 12;
}

.col-6{
    grid-column: span 6;
}
/* Grid System End */

.text-center{
    text-align: center;
}

.links-list{
    list-style: none;
}

.styled-links{
    text-decoration: none;
    color: #EDEDED;
}

.styled-links:hover{
    text-decoration: none;
    color: #e03761;
    outline: 1px solid #e03761;
}

