html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #171717;
    color: #EDEDED;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

body>div{
    text-align: center;
}

.links-list{
    list-style: none;
}

.styled-links{
    text-decoration: none;
    color: #EDEDED;
}

.styled-links:hover{
    text-decoration: none;
    color: #e03761;
    outline: 1px solid #e03761;
}

